/* .container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.button {
  padding-inline: 3rem;
  border: none;
  padding: 16px;
  background-color: crimson;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.button:disabled{
  background-color: rgba(220, 20, 60, 0.473);
  cursor: not-allowed;
}
 */

 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #1d4ed8; /* blue-700 */
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}

.button:hover:not(:disabled) {
  background-color: #2563eb; /* blue-600 */
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pageInfo {
  font-weight: 500;
}

.icon {
  font-size: 0.9rem;
}
