.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.categoryItem {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}

.categoryItem.style {
  background-color: #57c4ff31;
}

.categoryItem.fashion {
  background-color: #da85c731;
}

.categoryItem.food {
  background-color: #7fb88133;
}

.categoryItem.travel {
  background-color: #ff795736;
}

.categoryItem.culture {
  background-color: #ffb04f45;
}

.categoryItem.coding {
  background-color: #5e4fff31;
}

/* @media screen and (max-width: 1025px) {
  .categoryList {
    grid-template-columns: repeat(6, 1fr);
  }
} */