
.infoContainer {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 2rem;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 500;
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.postImage {
  object-fit: cover;
}

.user {
  display: flex;
  gap: 1rem;
  align-items: center;
  /* background-color: white; */
}

.userImage {
  position: relative;
  width: 50px;
  height: 50px;
}

.avater {
  object-fit: cover;
  border-radius: 50%;
}

.username {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--softTextColor);
}

.username:hover {
  text-decoration: underline;
}

.date {
  font-size: 0.8rem;
  color: var(--softTextColor);
}

.content {
  display: flex;
  gap: 3.2rem;
}

.post {
  margin-top: 4rem;
  flex: 5;
}

.menu {
  flex: 2;
}

.post p {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

@media screen and (max-width: 1025px) {
  .title {
    font-size: 3rem;
  }

  .post p {
    font-size: 1rem;
  }

  .content {
    flex-direction: column;
  }

  .infoContainer {
    flex-direction: column;
  }

  .imageContainer {
    aspect-ratio: 16 / 9;
    height: auto;     /* remove fixed height */
    width: 100%;
  }
}

@media screen and (max-width: 769px) {
    .title {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 640px) {
    .title {
        font-size: 1.8rem;
    }
}
