.container {
  margin-top: 30px;
}

.title {
  font-size: 4.3rem;
  font-weight: 400;
  color: var(--softTextColor);
}
.bold {
  font-weight: 600;
  font-size: 6rem;
  color: var(--textColor);
}

.post {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.imageContainer {
  flex: 1;
  /* height: 500px; */
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
}
 .image {
    object-fit: cover;
  } 

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.postTitle {
  font-size: 2.2rem;
}

.date {
    color: gray;
}

.category {
    color: crimson;
    font-weight: 500;
}


.heroBtn {
  width: fit-content;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  color: var(--textColor);
  background-color: var(--softBg);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  transition: 0.2s ease-in-out;
  border: 2px solid var(--textColor);
}

.heroBtn:hover {
  background-color: var(--textColor);
  color: var(--softBg);
}

.heroBtn:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1281px) {
  .title {
    font-size: 3.5rem;
  }
  .bold {
    font-size: 5rem;
  }

  .imageContainer {
    width: 60%;
  }
}

@media screen and (max-width: 1025px) {
  .title {
    font-size: 2.9rem;
  }
  .bold {
    font-weight: 500;
    font-size: 4.2rem;
  }

  .postTitle {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 769px) {
  .title {
    font-size: 2.7rem;
    font-weight: 400;
  }
  .bold {
    font-weight: 600;
    font-size: 3rem;
  }

  .postTitle {
    font-size: 1.8rem;
  }
   .post {
    flex-direction: column-reverse
  }
  .imageContainer {
    aspect-ratio: 16 / 9;
    height: auto;     /* remove fixed height */
    width: 100%;
  }

}
@media screen and (max-width: 640px) {
  .title {
    font-size: 2rem;
    font-weight: 400;
  }
  .bold {
    font-weight: 600;
    font-size: 2.5rem;
  }

  .postTitle {
    font-size: 1.5rem;
    font-weight: 500;
  }

}
