.container {
  margin-block: 25px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.imageContainer {
  flex: 1;
  position: relative;
  aspect-ratio: 16 / 12;
  width: 100%;
}
 .image {
    object-fit: cover;
  }

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.date {
  color: gray;
}

.category {
  color: crimson;
  font-weight: 500;
}

.title {
  font-weight: 600;
  line-height: 130%;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: 0.2s ease;
  display: block;
}

@media screen and (max-width: 1025px) {
  .title {
    font-weight: 500;
    font-size: 1.8rem;
  }
  .description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .imageContainer {
    flex: 1;
    width: 100%;
    aspect-ratio: 16/10;
  }
}
