.container {
    margin-block: 25px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.imageContainer {
    flex: 1;
    height: 350px;
    position: relative;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image {
object-fit: cover;
}

.date {
    color: gray;
}

.category {
    color: crimson;
    font-weight: 500;
}

.title {
    font-weight: 600;
    line-height: 130%;
}

.btn {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    transition: 0.2s ease;
    display: block;
}

@media screen and (max-width: 1025px) {
    .title {
        font-weight: 500;
        font-size: 1.8rem;
    }
    .description {
        font-size: 1rem;
    }
}
@media screen and (max-width: 640) {
    .container {
        flex-direction: column;
    }
    .imageContainer {
    flex: 1;
    position: relative;
    width: 100%;
    aspect-ratio: 16/11;
}
}