:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --softBorderColor: #ddd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-poppins);
}

.children {
  margin-top: 6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: var(--font-open-sans);
    line-height: 2rem;
    word-spacing: 2px;
    color: var(--softTextColor);
    letter-spacing: 0.2px;
}

.dark {
  --bg: #0f172a;
  /* --bg: #0a101e; */
  --textColor: white;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
  --softBorderColor: #444;
  --shadowColor: rgba(255,255,255,0.2);
}

.light {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --shadowColor: rgba(0,0,0,0.2);
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}


@media screen and (max-width: 1025px) {
   .wrapper {
    padding-inline: 3rem;
   }
 .children {
  margin-top: 5rem;
 }
}

@media screen and (max-width: 640px) {
  .wrapper {
    padding-inline: 1.5rem;
   }
}

.ql-container{
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
  color: #b3b3b1;
}