.container {
  margin-top: 30px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoText {
  font-size: 2rem;
  font-family: var(--font-dancing);
  color: #333;
}

.red {
    color: red;
}

.desc {
  font-weight: 300;
}

.icons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 100px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
}

.listTitle {
  font-weight: bold;
}

.subfooter{
    font-weight: 300;
    margin-top: 3rem;
    padding: 2rem;
}

@media screen and (max-width: 1024px) {
  .links {
    gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .subfooter {
    margin-top: 1rem;
  }
  .container {
    flex-direction: column;
    gap: 50px;
  }

  .links {
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 640px) {
  .subfooter {
    margin-top: 0;
  }
  .container {
    margin-top: 20px;
    padding-inline: 30px;
  }
  .links {
    font-size: 14px;
  }
}