.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}

.backButton {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: var(--softTextColor);
  font-weight: 600;
  cursor: pointer;
}

.card {
  background: var(--softBg);
  padding: 25px;
  border-radius: 14px;
  border: 1px solid var(--shadowColor);
  box-shadow: 0 8px 16px var(--shadowColor);
}

.title {
  font-size: 26px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  color: var(--textColor);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-weight: 500;
  color: var(--textColor);
}

.input,
.select,
.textarea {
  border: 1px solid var(--shadowColor);
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
  background-color: transparent;
  color: var(--textColor);
}

.select option {
  background-color: transparent;
}

.textarea {
  min-height: 120px;
  resize: vertical;
  font-family: var(--font-poppins);
}

.preview {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.error {
  color: red;
  font-size: 13px;
}

.submitArea {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.submitBtn {
  background: #16a34a;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.submitBtn:hover {
  background: #0d8a3c;
}
