.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--softBg);
    margin-top: -6rem;
}

.card {
    width: 100%;
    max-width: 380px;
    background: var(--bg);
    padding: 28px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px var(--shadowColor);
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: var(--textColor) ;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.inputGroup input {
    padding: 10px;
    border: 1px solid var(--shadowColor);
    border-radius: 6px;
    font-size: 14px;
    background-color: transparent;
    color: var(--textColor);
}

.error {
    color: red;
    font-size: 12px;
}

.smallText {
    font-size: 12px;
}

.link {
    color: blue;
    text-decoration: underline;
    font-weight: 500;
}

.button {
    width: 100%;
    padding: 10px;
    background: #1d4ed8;
    color: white;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1rem;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.backtohome {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
