.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--softBg);
  margin-top: -6rem;
}

.card {
  width: 100%;
  max-width: 400px;
  background-color: var(--bg);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--textColor);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.loginText {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
}

.loginLink {
  color: #1d4ed8;
  font-weight: 500;
  text-decoration: underline;
}

.submitButton {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  background-color: #1d4ed8;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #1e40af;
}

.backtohome {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}